@model List<Category>

<div class="list-group">
        <a href="/product/list" class="list-group-item list-group-item-action">All Products</a>
       @foreach (var category in Model) { 
           <a href="/product/list/@category.CategoryId"
           class="list-group-item list-group-item-action @(ViewBag.SelectedCategory == category.CategoryId.ToString()?"active":"")">
            @category.Name
        </a>
    }
</div> 