@model Product

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>

</head>
<body>
    <h2>Details</h2>
    <div class="card mb-3">
        
            <div class="row no-gutters">
                <div class="col-md-3">
                    <img class="card-img" src="~/img/@Model.ImageUrl" alt="Alternate Text" />
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <h4 class="text-title">@Model.Name</h4>
                        <p class="card-text">@Model.Description</p>
                        <p class="card-text">@Model.Price TL</p>


                    </div>
            </div>
        </div>

    </div>
</body>

</html>