@model ProductViewModel
@{
    var products = Model.Products;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
</head>
<body>
    @section Categories
    {
        @await Component.InvokeAsync("Categories")
    }
    <div class="container">
        <h3>All Products</h3>
        <div class="row">
            <div class="card-body">
                <table>
                    <tr>
                        <th>Actions</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Description</th>
                    </tr>
                    @foreach (var product in Model.Products)
                    {
                        <tr>

                            <td>
                                <a href="/product/details/@product.ProductId">
                                    <img class="card-img-top" src="~/img/@product.ImageUrl" style="width:100px;height:125px;" />
                                </a>

                            </td>
                            <td>
                                <h5 class="card-title">@product.Name</h5>
                            </td>
                            <td>@product.Price</td>
                            <td>@product.Description</td>

                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</body>
</html>